body {
    background-color: #EBEBEB;
    font-size: 13px;
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: #AA67FF;

    padding: 0px 250px 10px 250px;
}

.navbar .firstRow {
    display: flex;
    align-items: center;
}

.navbar .firstRow img {
    width: 80px;
    height: 80px;

    margin-right: 10px;
    padding: 5px;
    margin-left: 10px;
}

.navbar .firstRow input {
    width: 600px;
    height: 40px;

    padding: 7px 60px 9px 15px;
}

.navbar .secondRow {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 5px 15px 0px 15px;
}

.navbar .secondRow span {
    padding-right: 45px;
}

.navbar .secondRow nav ul {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
}

.navbar .secondRow nav ul li {
    margin-right: 15px;
}

.navbar .secondRow .other-infos {
    display: flex;
    flex-direction: row;
}

.navbar .secondRow .other-infos p {
    padding-right: 10px;
}

div.container {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

div.container .content {
    display: flex;

    width: 1184px;
    background-color: white;
    padding: 20px 60px;
    border-radius: 5px;
}

div.container .content .img {
    width: 700px;
    padding-left: 70px;
}

div.container .content .img img {
    width: 268px;
    height: 468px;    
}

div.container .content .img PlacaV {
    width: 320px;
    height: 560px;    
}

div.container .content .description {
    border: 1px #E5E5E5 solid;
    border-radius: 10px;
    padding: 25px 25px 100px 25px;
    margin-left: 350px;
}

div.container .content .description h1 {
    font-size: 22px;
    font-weight: 700;
    color: #000000E6;
    margin-top: 5px;
    margin-bottom: 15px;
}

div.container .content .description h2 {
    font-size: 36px;
    font-weight: 300;
    color: #000000E6;
}

div.container .content .description h3 {
    font-size: 18px;
    font-weight: 300;
}

div.container .content .description h4 {
    font-size: 14px;
    font-weight: 300;
    color: #3483FA;
}

div.container .content .description span {
    font-size: 14px;
    color: #999999;
}

div.container .content .description button {
    margin-top: 200px;
    padding: 0px 24px;
    border-radius: 5px;

    width: 318px;
    height: 48px;

    background-color: #3483FA;
    border: none;
    color: white;
}

div.container .content .description-2 {
    border: 1px #E5E5E5 solid;
    border-radius: 10px;
    padding: 25px 25px 100px 25px;
    margin-left: 350px;
}


footer .content {
    width: 100%;
    background-color: #F7F7F7;
}

footer .content .main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

footer .content .main-content .content-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .main-content .content-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .main-content .content-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .more-infos {
    padding: 25px 200px;

    display: flex;
    justify-content: space-between;
}

footer .content .more-infos ul {
    list-style-type: none;
}

footer .content .more-infos ul > p {
    margin-bottom: 10px;
    color: black;
}

footer .content .more-infos ul li {
    color: #999999;
    margin-bottom: 3px;
}
