body {
    background-color: #EBEBEB;
    font-size: 13px;
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: #AA67FF;

    padding: 5px 150px 10px 150px;
}

.navbar .firstRow span {
    font-size: 20px;
    width: 134px;
    height: 34px;

    margin-right: 50px;
}

.navbar .firstRow input {
    width: 600px;
    height: 40px;

    padding: 7px 60px 9px 15px;
}

.navbar .secondRow {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 45px 15px 0px 15px;
}

.navbar .secondRow span {
    padding-right: 45px;
}

.navbar .secondRow nav ul {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
}

.navbar .secondRow nav ul li {
    margin-right: 15px;
}

.navbar .secondRow .other-infos {
    display: flex;
    flex-direction: row;
}

.navbar .secondRow .other-infos p {
    padding-right: 10px;
}

div.container {
    padding: 50px 15px;

    display: flex;
    flex-direction: column;
}

div.container .payment-opt {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0px 20px;
    height: 90px;
    width: 80%;
    margin-bottom: 50px;

    background-color: #F7F7F7;

    text-align: left;
}

div.container .payment-opt .first-card {
    flex-direction: column;
}

div.container .payment-opt .first-card h4 {
    color: #999999;
}

div.container .payment-opt .card h4 {
    display: flex;
    align-items: center;

    color: #5697FA;
}

div.container .payment-opt .card span {
    margin-right: 10px;
}

div.container .products {
    display: flex;
    justify-content: space-around;
}

div.container .product {
    height: 330px;
    width: 224px;

    background-color: #F7F7F7;
}

div.container .product .top img {
    width: 224px;
    height: 224px;
}

div.container .product .bot {
    padding: 15px;
}

div.container .product .bot h2 {
    margin-bottom: 5px;
}


footer .content {
    width: 100%;
    background-color: #F7F7F7;
}

footer .content .main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

footer .content .main-content .content-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .main-content .content-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .main-content .content-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .content .more-infos {
    padding: 10px 110px;

    display: flex;
    justify-content: space-between;
}

footer .content .more-infos ul {
    list-style-type: none;
}

footer .content .more-infos ul > p {
    margin-bottom: 10px;
    color: black;
}

footer .content .more-infos ul li {
    color: #999999;
    margin-bottom: 3px;
}